Source: poni
Section: misc
Priority: extra
Maintainer: Mika Eloranta <mika.eloranta@gmail.com>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7.0.50~), python-support, python (>=2.6)
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://github.com/melor/poni
#Vcs-Git: git://git.debian.org/collab-maint/poni.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/poni.git;a=summary

Package: poni
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: systems configuration management tool
 Poni is TODO
